.section-one{
    background-color: #1D75DE;
}
.section-two{
    background-color: #B49BC8;
}
.section-three{
    background-color: #FFFFFF;
}
.section-four{
    background-color: #EFEFEF;
}
.card{
    margin-right: 20px;
}
.body-1{
    background-color: #CFF56A;
    /* padding-bottom: 120px; */
}
.body-2{
    background-color: #FFD2D7;
    /* padding-bottom: 120px; */
}
.body-3{
    background-color: #FFC862;
    /* padding-bottom: 120px; */
}
.body-4{
    background-color: #A5BBD1;
    /* padding-bottom: 120px; */
}
.card-body li{
    list-style: none;
    color: black;
}
.card-body-area{
    position: relative;
    color: rgb(0, 0, 0);
    border-radius: 10px 10px 0px 0px;
    /* padding-top: 20px; */
    display: flex;
    flex-flow: column nowrap;
    box-shadow: rgb(255 255 255) 0px 8px 0px 0px, rgb(0 0 0 / 30%) 0px 0px 8px;
    align-items: flex-start;
    
}
.card-body-header{
    text-align: center;
    
    border-radius: 10px; 
    box-shadow: 2px 2px 2px 2px rgb(255 255 255) ;

    
}

